<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Simple console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set specific logging levels -->
    <logger name="org.blackerp" level="DEBUG"/>
    <logger name="org.springframework.jdbc" level="INFO"/>
    <logger name="org.h2" level="INFO"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>